@charset "UTF-8";

@font-face{
    font-family: "Destaque";
    src: url(fontes/Anton-Regular.ttf);
}

@font-face{
    font-family: "Cordel";
    src: url(fontes/Satisfy-Regular.ttf);
}


:root{
    --fonte-padrão: Verdana Arial Helvetica Sans-serif;
    --fonte-Destaque: "Destaque";
    --fonte-Cordel: "Cordel";
}

*{
    margin: 0px;
    padding: 0px;

}


header{
    background-color: black;
    font-family: var(--fonte-Destaque);
    padding: 0px 0px 0px 0px;
    text-align: center;
    color: white;

}
header > h1{
    font-size: 100px;
    
}

header > p{
    padding-bottom: 50px;
}

header a, footer a {
    color:  white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;

}

nav{
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    width: 100%;

}

nav > p{
    font-family: var(--fonte-padrão);


}

.classe-1 {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-Cordel);
    font-size: 1.8em;
    
}

.classe-2 {
    background-color: white;
    color: black;
    
}

.classe-3{
    background-color: rgba(128, 128, 128, 0.71);
    color: white;

}

.classe-3 > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.611);
    border-radius: 10px;


}

#primeiro-id{
    text-align: center;
    color: white;


}

#segundo-id{
    background-color: rgb(0, 0, 0);
    background-image: url(imagem/bravo.jpg.crdownload);
    background-size: cover;
    background-attachment: fixed;
}

#terceiro-id{
    background-color: rgb(0, 0, 0);
    background-image: url(imagem/jerusalém.jpg.crdownload);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;



}


