@charset "UTF-8";

*{
   font-family: Verdana, Geneva, Tahoma, sans-serif;

   margin: 0px;
   padding: 0px;
}


html, body{
    background-color: rgb(141, 244, 244);
}

header{
     background-color: rgb(23, 125, 125);
}

header > h1{
    padding: 10px;
    text-align: center;
}

menu{
    display: none;
}

#primeiro-id{
    background-color: rgb(69, 69, 142);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

#primeiro-id:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}


menu > ul{
    list-style-type: none;
}

menu > ul > li> a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(47, 170, 170);
    color: white;
    border-top: 2px 2px solid black;
}

menu > ul > li > a:hover{
    background-color: rgb(14, 63, 63);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding-bottom: 20px;
}

article > P{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}